pipeline/APIcall.json
{
	"name": "APIcall",
	"properties": {
		"activities": [
			{
				"name": "apijsoncall",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://raw.githubusercontent.com/anshlambagit/AnshLambaYoutube/refs/heads/main/ADF_Project/DimAirport.json"
				}
			},
			{
				"name": "apidatacopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "apijsoncall",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['airport_id']"
								},
								"sink": {
									"path": "$['airport_id']"
								}
							},
							{
								"source": {
									"path": "$['airport_name']"
								},
								"sink": {
									"path": "$['airport_name']"
								}
							},
							{
								"source": {
									"path": "$['city']"
								},
								"sink": {
									"path": "$['city']"
								}
							},
							{
								"source": {
									"path": "$['country']"
								},
								"sink": {
									"path": "$['country']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "apisource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "apijsonsink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "logicapp call",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "apidatacopy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-05.southindia.logic.azure.com:443/workflows/beb2456a161f4edb98614bf8642e647e/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=jkMea5C3zdH_Qvbw_48ZnCcRoGIxzEb4j2Wpj0RTnoI",
					"body": {
						"value": "{\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"run_id\":\"@{pipeline().RunId}\",\n    \"status\":@{activity('apidatacopy').Status},\n    \"error\":@{activity('apidatacopy').output.error}\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-04-09T13:24:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}